<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
      </div>
   </nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-1">
        <button class="btn btn-outline btn-primary  dim " type="button" style="margin-top: 4%;"><i class="fa fa-bar-chart"></i></button>
    </div>
    <div class="col-lg-9">
        <h2 style="text-align: center; font-weight: bold;margin-top: 1%;">TRENDING JOBS</h2>
    </div>
    <div class="col-lg-2">
        <ul class="nav navbar-top-links navbar-right">
            <li>
              <button [routerLink]="['']" class="btn btn-outline btn-danger btn-sm"><i class="fa fa-chevron-left"></i> Home Page</button>
            </li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <ul class="notes">

                <li>
                    <div>
                        <h4>Engineer</h4>
                        <p>Engineers, as practitioners of engineering, are professionals who invent, design, analyze, build and test machines, complex systems, structures, gadgets and materials to fulfill functional objectives and requirements. </p>
                       <i class="fa fa-credit-card"></i>
                    </div>
                </li>
            
                <li>
                    <div>
                        <h4>Coordinator</h4>
                        <p>A coordinator is a general title for a person who brings together various elements or individuals to complete a project.</p>
                       <i class="fa fa-credit-card"></i>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Manager</h4>
                        <p>TThe manager is an employee who is responsible for planning, directing, and overseeing the operations and fiscal health of a business unit, division, department, or operating unit within an organization.</p>
                       <i class="fa fa-credit-card"></i>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Analyst</h4>
                        <p>An analyst gathers, interprets, and uses complex data to develop actionable steps that will improve processes and optimize results. </p>
                       <i class="fa fa-credit-card"></i>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Developer</h4>
                        <p>Researching, designing, implementing, and managing software programs. Testing and evaluating new programs.</p>
                       <i class="fa fa-credit-card"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>